@import "config";
header {
  color: $grey-color-for-content;
  input, .fa-shopping-cart {
    float: right;
  }
  .shop {
    color: $grey-color-for-content;
    &:hover{
      color: rgba(255, 165, 0, 0.47);
    }
  }
  .fa-shopping-cart {
    position: relative;
    top: 10px;
    left: 10px;
    .index-of-bought-items {
      position: absolute;
      width: 15px;
      height: 15px;
      line-height: 15px;
      background-color: orange;
      color: white;
      font-size: 10px;
      top: -9px;
      left: 18px;
      border-radius: 50%;
      text-align: center;
    }
  }
  .belina-rossa-logo {
    text-align: center;
  }
  .bold {
    font-weight: bold;
  }
  .logo {
    text-align: left;
    position: relative;
    .contact-info {
      position: absolute;
      left: 11.2em;
      top: 0.5em;
    }
    .phone-number {
      display: inline-block;
    }
    .fa-phone {
      padding-right: 13px;
    }
    .fa-map-marker-alt {
      display: inline-block;
      padding-right: 14px;
    }
    .placement {
      display: inline-block;
      font-size: 14px;
      i{
        padding-right: 13px;
      }
    }
  }
  .language-options {
    font-size: 0.8em;
    text-align: right;
    padding-bottom: 10px;
    span {
      position: absolute;
      top: -1%;
      left: 57%;
    }
    .search-input:hover {
      transition: none;
      display: none;
    }
      a {
        color: #ababab;
        text-transform: uppercase;
        padding-right: 1em;
        &:hover {
          font-weight: bolder;
          color: #1b1b1b;
        }
      }
  }
  #search::-webkit-input-placeholder {
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    color: hsl(0, 0%, 39%);
    text-align: end;
  }
  .navigation {
    text-transform: uppercase;
  li >a {
    color: $grey-color-for-content;
    font-weight: bold;
    &:hover {
      color: orange;
    }
}
  }
}
.season-sale-section {
  .background {
    background-image:linear-gradient(rgba(0, 0, 0, 0.21), rgba(0, 0, 0, 0.04)), url("../images/annie-spratt-113596.png") ;
    background-size: cover;
    height: 40em;
    position: relative;
  }
  .bg-txt {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    h2 {
      text-transform: uppercase;
      color: white;
      font-size: 8em;
      font-weight: bolder;
      padding-bottom: 6%;
    }
    button{
      text-transform: uppercase;
      width: 200px;
      height: 58px;
      background-color: orange;
      color: white;
      border: none;
      border-radius: 10px;
      font-weight: bold;
      &:hover {
        background-color: $grey-color-for-content;
        cursor: pointer;
      }
    }
  }
}
.slider {
  .top-products {
    color: #4a4a4a;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: large;
    margin-left: 21px;
  }
  .fa-star {
    color: #4a4a4a;
  }
  .fa-star:last-child {
    color: grey;
  }
  .sale-block-card {
    position: relative;
    text-align: center;
    border: none;
    h6 {
      color: #636363;
      font-weight: bold;
    }
    p{
      color: orange;
    }
    a {
      text-transform: uppercase;
      font-weight: bolder;
      font-size: small;
      background-color: orange;
      color: white;
      border: none;
      &:hover {
        background-color: $grey-color-for-content;
      }
    }
    &::before {
      font-weight: bolder;
      top: -21px;
      content: "Sale";
      position: absolute;
      width: 60px;
      height: 60px;
      background-color: orange;
      color: white;
      border-radius: 50%;
      line-height: 60px;
      text-align: center;
      right: -18px;
      z-index: 1;
    }
  }
  .card-ordinary {
    text-align: center;
    border: none;
    h6 {
      color: #636363;
      font-weight: bold;
    }
    p{
      color: orange;
    }
    a {
      text-transform: uppercase;
      font-weight: bolder;
      font-size: small;
      background-color: orange;
      color: white;
      border: none;
      &:hover {
        background-color: $grey-color-for-content;
      }
    }
  }
  .sale-card {
    .fa-star {
      padding: 0;
      border: none;
      cursor: pointer;
      background-color: white;
    }
  }
  .card-content {
    transition: all 0.4s ease;
    box-shadow: 0 0 10px transparent;
    transform: scale(1);
    padding: 10px 20px;
    &:hover {
      box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
      border: none;
      background-color: white;
      transform: scale(1.1);
      z-index: 10000;
    }
    img{
      transition: opacity 0.4s ease;
    }
    &:hover img{
      opacity: 0.6;
      background-color: #fff;
    }
  }

  .card-wrapper {
    padding: 0 5px;
    &:hover {
      z-index: 1000;
    }
  }
  .center {
    margin: 200px;
  }
  .parent {
    position: relative;
    background-color: red;
    width: 167px;
    height: 208px;
  }
  .parent:before {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    z-index: -1;
    transition: all 0.5s ease-in;
  }
  .parent:hover::before {
    transform: scale(1.5);
  }
  .slider-list {
    position: relative;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    li {
      >a {
        color: grey;
        cursor: pointer;
      }
    }
    &:before {
      content: url("../images/if_arrow-right-01_186409.png");
      cursor: pointer;
      position: absolute;
      top: 36%;
      left: -2%;
      transform: translate(-50%, -50%);
    }
    &:after {
      content: url("../images/if_arrow-right-01_186409 copy.png");
      cursor: pointer;
      position: absolute;
      bottom: 64%;
      right: -23px;
      transform: translate(50%, 50%);
    }
  }
}
footer {
  a{
    text-transform: capitalize;
    color: white;
    &:hover {
      color: orange;
    }
  }
  h3 {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    padding-left: 14px;
  }
  h4 {
    padding-left: 14px;
    text-transform: uppercase;
    font-weight: bolder;
    color: orange;
  }
  .footer-div {
    background: url("../images/Layer 150.png") no-repeat;
    background-size: cover;
    height: 497px;
    position: relative;
  }
  .last-block {
    position: absolute;
    bottom: 16%;
  }
  .all-rights-reserved {
    position: absolute;
    bottom: 0;
    right: 2%;
    p {
      color: white;
      font-weight: bolder;
      text-transform: uppercase;
      font-size: 18px;
    }
  }
}


