header {
  color: rgba(94, 94, 94, 0.87); }
  header input, header .fa-shopping-cart {
    float: right; }
  header .shop {
    color: rgba(94, 94, 94, 0.87); }
    header .shop:hover {
      color: rgba(255, 165, 0, 0.45); }
  header .fa-shopping-cart {
    position: relative;
    top: 10px;
    left: 10px; }
    header .fa-shopping-cart .index-of-bought-items {
      position: absolute;
      width: 15px;
      height: 15px;
      line-height: 15px;
      background-color: orange;
      color: white;
      font-size: 10px;
      top: -9px;
      left: 18px;
      border-radius: 50%;
      text-align: center; }
  header .belina-rossa-logo {
    text-align: center; }
  header .bold {
    font-weight: bold; }
  header .logo {
    text-align: left;
    position: relative; }
    header .logo .contact-info {
      position: absolute;
      left: 11.2em;
      top: 0.5em; }
    header .logo .phone-number {
      display: inline-block; }
    header .logo .fa-phone {
      padding-right: 13px; }
    header .logo .fa-map-marker-alt {
      display: inline-block;
      padding-right: 14px; }
    header .logo .placement {
      display: inline-block;
      font-size: 14px; }
      header .logo .placement i {
        padding-right: 13px; }
  header .language-options {
    font-size: 0.8em;
    text-align: right;
    padding-bottom: 10px; }
    header .language-options span {
      position: absolute;
      top: -1%;
      left: 57%; }
    header .language-options .search-input:hover {
      transition: none;
      display: none; }
    header .language-options a {
      color: #ababab;
      text-transform: uppercase;
      padding-right: 1em; }
      header .language-options a:hover {
        font-weight: bolder;
        color: #1b1b1b; }
  header #search::-webkit-input-placeholder {
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    color: #636363;
    text-align: end; }
  header .navigation {
    text-transform: uppercase; }
    header .navigation li > a {
      color: rgba(94, 94, 94, 0.87);
      font-weight: bold; }
      header .navigation li > a:hover {
        color: orange; }

.season-sale-section .background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.21), rgba(0, 0, 0, 0.04)), url("../images/annie-spratt-113596.png");
  background-size: cover;
  height: 40em;
  position: relative; }
.season-sale-section .bg-txt {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); }
  .season-sale-section .bg-txt h2 {
    text-transform: uppercase;
    color: white;
    font-size: 8em;
    font-weight: bolder;
    padding-bottom: 6%; }
  .season-sale-section .bg-txt button {
    text-transform: uppercase;
    width: 200px;
    height: 58px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold; }
    .season-sale-section .bg-txt button:hover {
      background-color: rgba(94, 94, 94, 0.87);
      cursor: pointer; }

.slider .top-products {
  color: #4a4a4a;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: large;
  margin-left: 21px; }
.slider .fa-star {
  color: #4a4a4a; }
.slider .fa-star:last-child {
  color: grey; }
.slider .sale-block-card {
  position: relative;
  text-align: center;
  border: none; }
  .slider .sale-block-card h6 {
    color: #636363;
    font-weight: bold; }
  .slider .sale-block-card p {
    color: orange; }
  .slider .sale-block-card a {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: small;
    background-color: orange;
    color: white;
    border: none; }
    .slider .sale-block-card a:hover {
      background-color: rgba(94, 94, 94, 0.87); }
  .slider .sale-block-card::before {
    font-weight: bolder;
    top: -21px;
    content: "Sale";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: orange;
    color: white;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    right: -18px;
    z-index: 1; }
.slider .card-ordinary {
  text-align: center;
  border: none; }
  .slider .card-ordinary h6 {
    color: #636363;
    font-weight: bold; }
  .slider .card-ordinary p {
    color: orange; }
  .slider .card-ordinary a {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: small;
    background-color: orange;
    color: white;
    border: none; }
    .slider .card-ordinary a:hover {
      background-color: rgba(94, 94, 94, 0.87); }
.slider .sale-card .fa-star {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: white; }
.slider .card-content {
  transition: all 0.4s ease;
  box-shadow: 0 0 10px transparent;
  transform: scale(1);
  padding: 10px 20px; }
  .slider .card-content:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    border: none;
    background-color: white;
    transform: scale(1.1);
    z-index: 10000; }
  .slider .card-content img {
    transition: opacity 0.4s ease; }
  .slider .card-content:hover img {
    opacity: 0.6;
    background-color: #fff; }
.slider .card-wrapper {
  padding: 0 5px; }
  .slider .card-wrapper:hover {
    z-index: 1000; }
.slider .center {
  margin: 200px; }
.slider .parent {
  position: relative;
  background-color: red;
  width: 167px;
  height: 208px; }
.slider .parent:before {
  content: '';
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  z-index: -1;
  transition: all 0.5s ease-in; }
.slider .parent:hover::before {
  transform: scale(1.5); }
.slider .slider-list {
  position: relative;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%; }
  .slider .slider-list li > a {
    color: grey;
    cursor: pointer; }
  .slider .slider-list:before {
    content: url("../images/if_arrow-right-01_186409.png");
    cursor: pointer;
    position: absolute;
    top: 36%;
    left: -2%;
    transform: translate(-50%, -50%); }
  .slider .slider-list:after {
    content: url("../images/if_arrow-right-01_186409 copy.png");
    cursor: pointer;
    position: absolute;
    bottom: 64%;
    right: -23px;
    transform: translate(50%, 50%); }

footer a {
  text-transform: capitalize;
  color: white; }
  footer a:hover {
    color: orange; }
footer h3 {
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  padding-left: 14px; }
footer h4 {
  padding-left: 14px;
  text-transform: uppercase;
  font-weight: bolder;
  color: orange; }
footer .footer-div {
  background: url("../images/Layer 150.png") no-repeat;
  background-size: cover;
  height: 497px;
  position: relative; }
footer .last-block {
  position: absolute;
  bottom: 16%; }
footer .all-rights-reserved {
  position: absolute;
  bottom: 0;
  right: 2%; }
  footer .all-rights-reserved p {
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px; }

/*# sourceMappingURL=index.css.map */
